
.chat-message + .chat-message .message-date{
  display: none;
}

.button-options:hover {
  opacity: 0.8;
  color: gray;
}

.show-fade{
  animation: show .5s;
}

@keyframes show {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.show-slide-right {
  animation: show-slide-right .5s;
}

@keyframes show-slide-right {
  0% {
    opacity: 0%;
    transform: translate(10px, 0px);
  }
  100% {
    opacity: 100%;
    transform: none;
  }
}

.show-slide-left {
  animation: show-slide-left .5s;
}

@keyframes show-slide-left {
  0% {
    opacity: 0%;
    transform: translate(-10px, 0px);
  }
  100% {
    opacity: 100%;
    transform: none;
  }
}

.active-chat {
  border-left: 6px solid #2a9d8f;
}

.chat-pill {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    opacity: 100%;
  }
  
  70% {
    opacity: 35%;
  }
  
  100% {
    opacity: 50%;
  }
}

.messsage-emoji {
  animation: pulse-grow-container 1s infinite ease-in-out;
}

@keyframes pulse-grow-container {
  0% {
    transform: scale(1);
  }
  
  100% {
    transform: scale(.7);
  }
}

.message-emoji span {
  display: inline-block;
  animation: pulse-grow 1s infinite ease-in-out;
}

@keyframes pulse-grow {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
  
  100% {
    transform: scale(1);
  }
}

.chat-contact{
  transition: all .125s;
}


.chat-contact:hover {
  cursor: pointer;
  opacity: 0.8;
}

.active-chat h6{
  color: #2a9d8f;
  font-weight: bold;
}

.overflow-auto::-webkit-scrollbar {
  width: 10px;
}

.overflow-auto::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #2a9d8f50;
}

.overflow-auto::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #2a9d8f;
}

.bg-light {
  background-color: #ebebeb !important;
}

.btn:focus {
  box-shadow: 0 0 0 0.25rem #2a9d8f50 !important;
}

.btn-outline-green{
  border-color: #2a9d8f !important;
  color: #2a9d8f !important;
}

.btn-outline-green:hover{
  background-color: #2a9d8f !important;
  border-color: white !important;
  color: white !important; 
}

.btn-outline-green:active:focus {
    box-shadow: 0 0 0 0.25rem #2a9d8f !important;
}

.btn-outline-green:active{
  background-color: #2a9d8f !important;
}


.btn-ouline-green:focus{
  box-shadow: 0 0 0 0.25rem #2a9d8f50 !important;
}

.border-green{
  border-color: #2a9d8f !important;

}
.text-green{
  color: #2a9d8f !important;

}
.bg-green {
  background-color: #2a9d8f !important;
}

small {
  font-size: 0.75rem !important;
}

.delete-atual:hover {
  opacity: 0.7;
  background-color: #cde7e4;
}